#navbar-example3 {
    width: 250px; /* Adjust width as needed */
    height: 100vh; 
    color: white;/* Full height */
    background-color: #B1D4E0;
    /* background-color:#A7BEAE; */
    border-right: 1px solid #ddd; /* Border color */
}

.sidebar-item {
  margin-top: 5px;
  display: flex;
   /* justify-content: center; */
  /* background-color:   #00246B; */
  background-color:   #0C2D48;
}
.sidebar-item:hover{
    background-color:#145DA0;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    
}
 

.nav-link.active {
    background-color: #007bff;
    color: white;
}

.icon-margin {
    margin-right: 10px; /* Adjust margin as needed */
}

.icon-toggle {
    float: right;
}

.submenu {
    list-style-type: none;
    padding-left: 1em;
}

.submenu .nav-link {
    padding-left: 20px; /* Indentation for submenu items */
}
